body {
    font-family: 'Roboto Condensed', sans-serif;

}

button {
    background: transparent;
    border-style: none;
}

.gglSearch, .news, .info {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}

  
@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}
  
@media all and (min-width: 800px) {
    .news    { flex: 3 0px; }
    .gglSearch { order: 1; } 
    .news    { order: 2; }
    .info { order: 3; }
    .footer  { order: 4; }
}