body {
  display: flex;
}
.navbar{
  background-color: blue;
  width: 100%;
  display: flex;
  list-style: none;
}
.home{
  text-align: left;
}
.news{
  text-align: center;
}
.search{
  flex:1;
  text-align:center;
}
.signout{
  position:relative;
  text-align: right;
}
